
<div>
    <div class="child-pager-header">
        <ul class="navbar-list-wrap">
            <li class="active">
                <a href="#"><img src="assets/images/时钟.png" class="time"/>未提交<span class="count">0</span></a>
            </li>
            <li>
                <a href="#"><img src="assets/images/完成1.png" class="time"/> 已完成</a>
            </li>
            <li>
                <a href="#"><img src="assets/images/时钟_clock74.png" class="time"/>已完结</a>
            </li>
        </ul>
        <div class="other-operate-options">
            <form class="search-component-wrap">
                <div class="form-group">
                    <input type="text" name="keyword" placeholder="输入同步课名称搜索" class="form-control" id="id_keyword" title="输入同步课名称搜索">
                </div>
                <button class="search-button"><img src="assets/images/搜索.png" class="search"/></button>
                
            </form>
        </div>
    </div>
    <div class="ending">
            <img src="assets/images/i.png" class="end"/>
            <div class="endcontent">您当前的同步课任务已全部完成~</div>
    </div>
</div>
