<!-- <p>
  home works!
</p> -->
<div class="home_total">


  <div class="left">
      <div class="pm">
        <img src="assets/images/5.jpg"/>
        <div class="name">8-徐瑞婷</div>
        <div >
          <span class="count1">1</span>
          <span class="count2">5</span>
        </div>
        <div id="des">
            <span class="fensi">粉丝</span>
            <span class="care">关注</span>
        </div>
        <hr style="height:1px;border:none;border-top:1px solid #555555;"/>
      </div>
      <div class="buttom1">
          <ul>
            <li><a [routerLink]="['./task']"><img src="assets/images/6.jpg"/>任务<span>></span></a></li>
            <li><a [routerLink]="['./synchro']"><img src="assets/images/7.jpg"/>同步课<span>></span></a></li>
            <li><a [routerLink]="['./lesson']"><img src="assets/images/8.jpg"/>课程<span>></span></a></li>
            <li><a [routerLink]="['./andsay']"><img src="assets/images/9.jpg"/>且说<span>></span></a></li>
            <li><a [routerLink]="['./notice']"><img src="assets/images/10.jpg"/>通知<span>></span></a></li>
          </ul>
        </div>
  </div>

  <div class="right">
    <router-outlet></router-outlet>
  </div>


</div>