<div>
    <div class="child-pager-header">
        <ul class="navbar-list-wrap">
            <li class="active">
                <a href="#"><img src="assets/images/@.png" class="time"/>我的<span class="count">1</span></a>
            </li>
            <li>
                <a href="#"><img src="assets/images/赞.png" class="time"/> 收到的赞</a>
            </li>
            <li>
                <a href="#"><img src="assets/images/评论.png" class="time"/>评论</a>
            </li>
        </ul>
       
    </div>
    <div >

    </div>
</div>
